
*{
    padding: 0;
    margin: 0;
}

body {
    background: #f6f5f7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: 20px 0;
  }

 .box{
    margin:0 auto; 
    width:600px;
    padding:20px;
    background:#f9f9f9;
    border:2px solid #333;
    }

  h2{
  text-align: center;
 }
 input,
input[type="text"] {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#activity{
    background-color: #eee;
}

#description{
    background-color: #eee;
}

 #activityForm .btn-create button{
     
   margin-top: 20px;

 }
 
 .submit-button{
    width: 90px;
    height: 50px;
    
 }
  


  label{
     font-weight: bold;
     margin-top: 20px;
  }

 #activityForm input{
     margin-top: 10px;
 }

 #duration{
     display: inline-block;
 }
 .logo-style {
    font-family: "Ephesis";
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 110;
    color: #b7382d;
  }